.wrapper-carrossel {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 85px;
}

.wrapper-carrossel .button-arrow{
  position: absolute;
  top:115px;
  transform: translateY(50%);
  
}

.wrapper-carrossel .button-arrow.-left{
  left:15px
}

.wrapper-carrossel .button-arrow.-right{
  right:15px
}